.nav{
    background-color: #333;
    padding: 10px;
}
.navList{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navItem a{
    color: azure;
    text-decoration: none;
    font-size: 1.2rem;
}
.navItem a:hover{
    color: #f39c12;
}
